/* Add these styles to your existing styles or create a new CSS file */
body {
  margin: 0; /* Remove default body margin */
}

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Add a background color for better visibility */
}

.sidebar {
  z-index: 99;
  position: fixed;
  top: 80px; /* Adjust based on the height of the header */
  left: 0;
  bottom: 0;
  width: 60px; /* Adjust the width as needed */
  background-color: #d2d1d2f6; /* Add a background color for better visibility */
}

.complaintBox {
  margin: 30px 100px;
  padding: 10px 34px;
  z-index: 98;
  padding: 20px; /* Add padding to the outlet content */
}
