/* Add your existing CSS styles here */

/* .container4 {
  margin-top: 20px;
} */

.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #aaa;
}

.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0;
}

.table-inbox tr td {
  padding: 12px !important;
  vertical-align: middle;
  border-bottom: 1px solid #d3d3d3;
}

.table-inbox tr td:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.table-inbox tr td .fa-star.inbox-started,
.table-inbox tr td .fa-star:hover {
  color: #f78a09;
}

.table-inbox tr td .fa-star {
  color: #d5d5d5;
}

.table-inbox tr.unread td {
  background: none repeat scroll 0 0 #f7f7f7;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .description {
    display: none;
  }
}

body {
  background-color: #eee;
}

.bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}
/* Add any additional styling for responsiveness or other enhancements */
