@import url(https://fonts.bunny.net/css?family=amita:700);
.hero {
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./hero.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}
.container2 {
  width: 100%;
  height: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
}
.info {
  font-family: Amita !important;
  padding-left: 2rem;
}
.info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: cursive;
}
.info h2 {
  font-family: cursive;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.info p {
  font-size: 1.2rem;
  max-width: 50%;
}
.info .click {
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
  color: black;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
