.sidebar {
  width: 60px;
  height: 110%;
  overflow: hidden;
  transition: 0.5s;

}

.sidebar:hover {
  width: 16em;
}

.sidebar ul {
  position: relative;
  height: 100%;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li:hover {
  background: #7d3284;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 1.5em;
  
}

.sidebar ul li a .text {
  padding-left: 0.4em;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sidebar ul li .logo {
  margin-bottom: 50px;
}

.sidebar ul li .logo:hover {
  background: #fff;
}

.sidebar ul li.logo .icon {
  background: #fff;
}

.sidebar ul li.logo .text {
  font-size: 1.2em;
  font-weight: 500;
}

/* @media screen and (max-width: 768px) {
  .sidebar {
    width: 60px; 
  }

  .sidebar:hover {
    width: 200px; 
  }

  .sidebar ul li .text {
    display: none;
  }

  .sidebar ul li:hover {
    background: none; 
  }

  .sidebar ul li a .icon {
    min-width: 40px; 
  }

  .sidebar:hover ul li a .text {
    display: flex; 
  }
} */
