<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
</head>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link rel="stylesheet" href="../css/intro.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<body>
    <h1>About Us</h1>

<div class="carousel__container">
  <div class="carousel__item">
    <img src="../img/gaurav.jpeg" class="carousel__image " id="gaurav">
    
    <div class="detail">
        <h1>
            Gaurav Singh
        </h1>
        <h3>
            Bachelor's Of Technology
        </h3>
        <h3>
            2nd YeaR
        </h3>
        <h3>
            Electronics and Communication Engineering
        </h3>
        <div >
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-facebook"></i></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-codepen"></i></a></li>
              </ul>
        </div>

    </div>
  </div>
  <div class="carousel__item">
    <img src="../img/pranav.jpeg" class="carousel__image" id="pranav">
    <div class="detail">
        <h1>
            Pranav Kashikey
        </h1>
        <h3>
            Bachelor's Of Technology
        </h3>
        <h3>
            2nd YeaR
        </h3>
        <h3>
            Mechanical Engineering
        </h3>
        <div >
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-codepen"></i></a></li>
              </ul>
        </div>

    </div>
  </div>
  <div class="carousel__item">
    <img src="../img/vaibhav.jpeg" class="carousel__image" id="vaibhav">
    <div class="detail">
        <h1>
            Vaibhav Maurya
        </h1>
        <h3>
            Bachelor's Of Technology
        </h3>
        <h3>
            2nd YeaR
        </h3>
        <h3>
            Electronics and Communication Engineering
        </h3>
        <div >

            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-codepen"></i></a></li>
              </ul>
        </div>

    </div>
  </div>
</div>

</body>
</html>